@model List<RoleAssignViewModel>

<h1>Rol Atama Sayfası</h1>
<br />
<br />


<form method="POST" asp-action="RoleAssign">

    
    @for(int i =0; i<Model.Count; i++)
    {
    
    <div class="p-1 mb-1">
        
        <input type="hidden" asp-for="@Model[i].RoleId"/>
        <input type="hidden" asp-for="@Model[i].RoleName"/>
        <input type="checkbox" asp-for="@Model[i].RoleExist" class="form-check-input" />
        <label class="form-label" for="@Model[i].RoleId">@Model[i].RoleName</label>

    </div>
}

    <button class="btn btn-success">Rolü Kaydet</button>



</form>

