@{
    ViewData["Title"] = "Turlar";
}

@model List<Destination>


<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Tur Listesi</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">#</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Şehir</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Süre</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Kapasite</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Fiyat</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Detaylar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var d in Model)
                            {
                                <tr>
                                    <td>@d.DestinationId</td>
                                    <td>@d.City</td>
                                    <td>@d.DayNight</td>
                                    <td>@d.Capacity</td>
                                    <td>@d.Price</td>
                                    <td>
                                        <a class="btn btn-outline-info" asp-area="" asp-route="DestinationDetail" asp-route-id="@d.DestinationId">Gör</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
